# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# Generated RAG data
data/raw/
data/qdrant/
data/pdf/

# Logs
*.log
data/pdf/
