# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env
.env.*

# Runtime data
data/raw/
data/qdrant/
data/cache/
data/exports/

# Real documents
data/pdf/
data/documents/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
